
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCFCFC;
  /* --foreground: #171717; */
  --primary-color:#040A7C;
  --brand-black:#000000;
}



*{
  outline:none;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.stick{
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);

}
.bottom{
  position: relative;
}
.bottom:hover::before{
  width: 100%;
}
.active{
  position: relative;
}
.active::before{
   position: absolute;
  content: '';
  background-color: var(--primary-color);
  height: 3px;
  transition: .4s;
  bottom: -2px;
  left: 0px;
    width: 100%;

}
.bottom::before{
  position: absolute;
  content: '';
  background-color: var(--primary-color);
  height: 3px;
  transition: .4s;
  bottom: -2px;
  left: 0px;
  width: 0%;
}
.cards-hover{
  transition: all .2s ease;
}
.cards-hover:hover{
  background-color: var(--primary-color);
  background-image: url('/abstract 2.png');
}
.cards-hover:hover :first-child :first-child{
display: none;
}
.cards-hover:hover *{
  color: white;
}
.cards-hover:hover :first-child :nth-child(2){
  font-weight: 400;
}
.cards-hover:hover :nth-child(2){
  font-weight: 300;
}
@media (max-width:1024px){
  nav{
    background-color: var(--primary-color);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 2000;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    transition: all .5s ease;
    right: -100%;
    top: 0;
  }
  nav.open{
    right: 0%;
  }
}


@media (max-width: 370px){
  *{
    font-size: 4.2vw;
  }
}


